# Python virtual environments
venv/
env/
.venv/
.env/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Data and Model Files (important for ML projects)
data/
images/
*.pth
*.pt

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
